@import "colors.styl";
@import "fonts.styl";

html
body
    font-family: Lato, Arial, sans-serif
    font-size: 16px
    font-weight: 400
//- Remove border and padding in Firefox for inputs and buttons
    &::-moz-focus-outer, &::-moz-focus-inner
        border: 0
        padding: 0
